html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  width: 100%;
}

.carousel-indicators {
  min-height: 20vh;
}

.carousel-caption {
  min-height: 40vh;
}

.carousel-caption p {
  color: #000;
  text-shadow: 2px 2px 5px rgb(255, 255, 255); /* Desplazamiento en x, desplazamiento en y, desenfoque, color de la sombra */
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .carousel {
    width: 100vw; /* 100% del ancho del viewport */
    margin: 0;
    padding: 0;
  }

  .carousel-inner img {
    width: 100vw;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .carousel-indicators {
    display: none !important;
  }
  
  .carousel-caption {
    display: none !important;
  }
  .carousel-caption p {
    display: none !important;
  }
}