:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* header */

.logo {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  transition: opacity 0.3s ease;
}

nav a:hover {
  opacity: 0.8;
}

.navbar {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler{
  position: fixed;
  top: 1.5rem;
  left: 5rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-expand-lg .container-fluid {
  margin-left: 3rem;
  border: none;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tema-container {
  display: inherit;
  margin-right: 0;
  margin-left: 0;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

/* main */

/* home */

.hero {
  margin-top: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-principal {
  width: 100%;                               /* Equivalente a w-full */
  background-image: url('/public/imagenes/proyecto2.jpg');  /* Fondo con imagen */
  background-size: cover;                     /* Equivalente a bg-cover */
  background-position: center;                /* Equivalente a bg-center */
  min-height: 96vh;                               /* Equivalente a h-[96vh] */
  padding-top: 4rem;                              /* Equivalente a p-12 */
  /* Puedes agregar más propiedades si necesitas */
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  /* color: var(--text-secondary-color); */
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero h1 {
  font-size: 2.5rem;
  /* color: var(--text-primary-color); */
  margin-bottom: 1rem;
}

.hero-inferior-imagen {
  margin: 3rem;
  width: 50%;
}

.cta-button {
  display: inline-block;
  /* background-color: var(--primary-color);
  color: white; */
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.white-text {
  color: white;
}

/* sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-texto {
  /* color: var(--text-secondary-color); */
  font-size: 1.2rem;
}

/* experiencia */

.experiencia {
  padding: 40px 40px 40px 40px;
  margin-bottom: 10rem;
}

.experiencia .columna {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}


/* proyectos */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.proyectos-recientes {
  margin: 5rem;
  margin-bottom: 10rem;
  padding: 1rem;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  font-size: 60px;
  margin: 10px;
}

.iconos-contenedor a:hover {
  transform: scale(1.2) translateY(5px);
  transition: all 0.2s ease-in-out;
}


/* carousel */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  width: 100%;
}

.carousel-indicators {
  min-height: 20vh;
}

.carousel-caption {
  min-height: 40vh;
}

.carousel-caption h5 {
  color: #000;
  text-shadow: 2px 2px 5px rgb(255, 255, 255); /* Desplazamiento en x, desplazamiento en y, desenfoque, color de la sombra */
  font-size: 2rem;
}
.carousel-caption p {
  color: #000;
  text-shadow: 2px 2px 5px rgb(255, 255, 255); /* Desplazamiento en x, desplazamiento en y, desenfoque, color de la sombra */
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .carousel {
    width: 100vw; /* 100% del ancho del viewport */
    margin: 0;
    padding: 0;
  }

  .carousel-inner img {
    width: 100vw;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .carousel-indicators {
    display: none !important;
  }
  
  .carousel-caption {
    display: none !important;
  }
  .carousel-caption p {
    display: none !important;
  }
}


/* footer */
/* contacto */
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background: linear-gradient(155deg, rgb(13, 110, 253), #00fffc);
  /* background-color: rgb(13, 110, 253); */
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
  transform: scale(1.2) translateY(5px);
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* footer */
footer {
  min-height: 500px;
  grid-area: footer;
  text-align: center;
  padding: 1rem;
}

.footer-logo {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales {
  position: relative;
  background: linear-gradient(155deg, #00fffc, #eee);
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px rgb(13, 110, 253);
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: black;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: black;
  border: 2px solid rgb(13, 110, 253);
  transform: translateY(-5px);
}

.iconos-redes-sociales a:hover i {
  color: white;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}




/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
